.slider{
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.sliderContainer{
    overflow: hidden;
    width: 1120px;
    height: 300px;
    margin: 0 auto;
}

.navButton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 100px;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}

.navButton.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.navButton.prev {
    left: 10px;
}

.navButton.next {
    right: 10px;
}

.navButton:hover {
    background: rgba(0, 0, 0, 0.9);
}

.navButton.prev {
    left: 10px;
}

.navButton.next {
    right: 10px;
}

.moviesGrid {
    display: flex;
    gap: 30px;
    transition: transform 0.3s ease-in-out;
    width: fit-content;
}

.moviesGrid > * {
    width: 200px;
    height: 300px;
    flex-shrink: 0;
}