.reasonsCard{
    position: relative;
    max-width: 300px;
    height: 300px;
    background-color: rgba(27, 0, 63, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.reasonsCard h1{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-text-primary);
    margin-bottom: 10px;
}

.reasonsCard p{
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text-secondary);
}

.reasonsCard img{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    background: linear-gradient(135deg, #EF4444, #8B5CF6);
    padding: 2px;
}

